.nikud * {
	box-sizing: border-box;
}
.nikud {
	display: inline-block;
	position: relative;
}
.nikud input,
.nikud-keyboard {
	font-family: SBL Hebrew, Narkisim, David, monospace;
}
.nikud-keyboard {
	position: absolute;
	top: 100%;
	right: 0;
	display: flex;
	opacity: 0;
	visibility: hidden;
	justify-content: space-around;
	width: 415px;
	background: #d0d5db;
	padding: 5px 2px 6px;
	z-index: 9999;
	user-select: none;
	font-size: 28px;
	border-radius: 2px;
	transition: opacity 0.2s 0.2s, visibility 0s 0.4s;
}
.nikud-keyboard:active,
.nikud input:focus+.nikud-keyboard {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s 0s, visibility 0s 0s;
}
.nikud-key {
	display: inline-block;
	width: 30px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	cursor: pointer;
	background: #fff;
	box-shadow: 0 2px #999, inset 0 0 #999;
	transition: box-shadow 0.1s, background 0.1s, color 0.1s;
}
#nikud-key-dagesh {
	margin-right: 5px;
}
.nikud-key.-disabled {
	background: #eee;
	color: #999;
}
.nikud-key:active:not(.-disabled) {
	box-shadow: 0 0 #999, inset 0 1px 0 1px #999;
}
.nikud-key span {
	display: inline-block;
	position: relative;
	width: 16px;
	transition: transform 0.1s;
}
.nikud-key span:after {
	content: '○';
	display: inline-block;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	color: #ccc;
}
.nikud-key:active:not(.-disabled) span {
	transform: translateY(1px);
}
